<div class="jumbotron">
  <h2>About AFS</h2>
    <%= image_tag "AFSLogo.png", size: "200x134", align: "right" %>

    <p>Fairfield Ludlowe High School American Field Service is a community service club that meets B weeks in the Black Box Theater. We do a <%= link_to "citrus sale", citrus_path %> every fall in order to raise money for the service trip in the spring. For the service trip, we go to underprivileged areas in cities and help people, usually by volunteering with many different organizations. This year, we will be going to Washington, D.C.</p>

<br>

  <p>AFS Ludlowe is a small part of the larger American Field Service organization. For more information on AFS, you can visit <%= link_to "AFS.org", "http://www.afs.org" %>.</p>

<br>

  <p><b>Club Administrators:</b></p>
  <br>
    <ul>Mrs. Bourque (room 316)</ul>
    <ul>Ms. Krieger (library)</ul>

<br>

  <p><b>Club Officers:</b>

<br></br>

  <p>Presidents:</p>
    <ul>Chloe Angel</ul>
    <ul>Alec Georgiadis</ul>
    <ul>Griffin Georgiadis</ul>
  <p>Vice Presidents:</p>
    <ul>Clarence Moscaya</ul>
    <ul>Luke Georgiadis</ul>
  <p>Treasurers:</p>
    <ul>Zach Angel</ul>
    <ul>Kevin Cardona</ul>
    <ul>Sam Ghee</ul>
    <ul>Nate Klein</ul>
  <p>Secretaries:</p>
    <ul>Kyle Boyle</ul>
    <ul>Hillary Therriault</ul>
</div>
