<div class="jumbotron">
  <h2>Citrus Sale</h2>
  <p>We sell oranges and grapefruits during the fall to raise money for the service trip in the spring. The annual citrus sale is currently in progress.</p>
  <br>
  <p>More information is available on the sheets handed out last meeting. You can get a copy of the sheets <a href="https://www.dropbox.com/s/39bief78qs62dvo/AFS_Orange_Sale.pdf?dl=0">here</a>.</p>
  <br>
  <p>If you have any other questions, feel free to make a post on the home page.</p>
  <br>
</div>