<div class="jumbotron">
  <h2>Citrus Sale</h2>
  <%= image_tag "OrangeBoxes.jpg", align: "right" %>
  <p>We sell oranges and grapefruits during the fall to raise money for the service trip in the spring. The annual citrus sale is currently in progress. Please make sure you hand in all citrus sale forms and payment by Monday, November 10th. (Handing your money in before this would be even better.)</p>

<br>

  <p>The citrus will be delivered on Saturday, December 6th. You MUST pick up your fruit on that day, and if you are able to, you should stay to help unload the truck.</p>

<br>

  <p>More information is available on the sheets handed out last meeting. You can get a copy of the sheets <%= link_to "here", "https://www.dropbox.com/s/39bief78qs62dvo/AFS_Orange_Sale.pdf?dl=0" %>.</p>

  <br>

  <p>If you have any other questions, feel free to make a post on the home page, or email me <a href="mailto:kyleryanboyle@gmail.com">here</a>.</p>

  <br>
</div>