<div class="jumbotron">
  <div class="maintext">
    <h2>Welcome to the Ludlowe AFS website!</h2>
    <p>This is the website for the Fairfield Ludlowe High School American Field Service club.</p>
    <p>We meet during activity period on B week.</p>
    <br>
    <p>Click here to create a <%= link_to "new post", "posts/new", class: "btn btn-primary" %></p>
  </div>
</div>